In [1]:
import numpy as np
import re
import nltk
import scipy
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
nltk.download('words')
nltk.download('stopwords')
nltk.download('punkt')
import pandas as pd
from google_trans_new import google_translator  
from sklearn.feature_extraction.text import CountVectorizer
from scipy.spatial import distance

def loadGloveModel(gloveFile):
    print ("Loading Glove Model")
    with open(gloveFile, encoding="utf8" ) as f:
        content = f.readlines()
    model = {}
    for line in content:
        splitLine = line.split()
        word = splitLine[0]
        embedding = np.array([float(val) for val in splitLine[1:]])
        model[word] = embedding
    print ("Done.",len(model)," words loaded!")
    return model

gloveFile = "glove.6B.200d.txt"
translator = google_translator()  
model = loadGloveModel(gloveFile)

[nltk_data] Downloading package words to /Users/peyamowar/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/peyamowar/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/peyamowar/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Loading Glove Model
Done. 400000  words loaded!

In [2]:
def func1(s1, s2):
    #cosine_distance_countvectorizer_method
    # sentences to list
    allsentences = [s1 , s2]
    # text to vector
    vectorizer = CountVectorizer()
    all_sentences_to_vector = vectorizer.fit_transform(allsentences)
    text_to_vector_v1 = all_sentences_to_vector.toarray()[0].tolist()
    text_to_vector_v2 = all_sentences_to_vector.toarray()[1].tolist()
    # distance of similarity
    cosine = distance.cosine(text_to_vector_v1, text_to_vector_v2)
    #print('Similarity of two sentences are equal to ',round((1-cosine)*100,2),'%')
    return round((1-cosine)*100,2)

In [3]:
def preprocess(raw_text):
    # keep only words
    letters_only_text = re.sub("[^a-zA-Z]", " ", raw_text)
    # convert to lower case and split 
    words = letters_only_text.lower().split()
    # remove stopwords
    stopword_set = set(stopwords.words("english"))
    cleaned_words = list(set([w for w in words if w not in stopword_set]))
    return cleaned_words

def cosine_distance_between_two_words(word1, word2):
    import scipy
    return (1- scipy.spatial.distance.cosine(model[word1], model[word2]))

def func2(s1, s2):
    #cosine_distance_wordembedding_method
    vector_1 = np.mean([model[word] for word in preprocess(s1) if word in model],axis=0)
    #print("vector 1")
    #print(vector_1)
    #print(type(vector_1))
    vector_2 = np.mean([model[word] for word in preprocess(s2) if word in model],axis=0)
    cosine = scipy.spatial.distance.cosine(vector_1, vector_2)
    #print('Word Embedding method with a cosine distance asses that our two sentences are similar to',round((1-cosine)*100,2),'%')
    return round((1-cosine)*100,2)

In [4]:
def func3(s1,s2):
    #cosine_similarity method
    X = s1
    Y = s2
    # tokenization 
    X_list = word_tokenize(X) 
    Y_list = word_tokenize(Y) 
    # sw contains the list of stopwords 
    sw = stopwords.words('english') 
    l1 =[];l2 =[] 
    # remove stop words from the string 
    X_set = {w for w in X_list if not w in sw} 
    Y_set = {w for w in Y_list if not w in sw} 
    # form a set containing keywords of both strings 
    rvector = X_set.union(Y_set) 
    for w in rvector: 
        if w in X_set: l1.append(1) # create a vector 
        else: l1.append(0) 
        if w in Y_set: l2.append(1) 
        else: l2.append(0) 
    c = 0
    # cosine formula 
    for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
    deno = float((sum(l1)*sum(l2))**0.5) 
    if deno == 0:
        return 50
    cosine = c / deno
    return round((1-cosine)*100,2)

In [5]:
s1 = "The president of USA gives a speech in Chicago."
s2 = "Obama addresses public in Illinois."

text1 = translator.translate(s1,lang_tgt='en')
text2 = translator.translate(s2,lang_tgt='en')

print(func1(text1,text2))
print(func2(text1,text2))
print(func3(text1,text2))

15.81
73.72
83.1

data3 = data1.append(data2)
data3 = data3.drop(columns={'Unnamed: 0'})
data3.to_csv('bollybait_audio_text_till_283.csv',index=False)
data3

In [6]:
#data1 = pd.read_csv('bollybait_audio_text_till_283.csv')
#data2 = pd.read_csv('bollybait_audio_text_till_921.csv')
#data3 = pd.read_csv('bollybait_audio_text_till_end.csv')
#data = data1.append(data2)
#data = data.append(data3)
data = pd.read_csv('audio_text_mvd.csv')
data = data.drop(columns={'Unnamed: 0'})
#data.to_csv('bollybait_audio_text.csv')
source_data = pd.read_csv("MVD_dataset_raw.csv")

In [7]:
data

        Video_id                                               Text
0    to8mQVw1Lso  hello friends friends Abhi Abhi Bollywood se b...
1    4N3hPrJLbEw  power couple Aishwarya Rai Bachchan Abhishek B...
2    CfvUr6WAEWM  everybody wants to use simple easy steps to ge...
3    i1rlytoxQ1o  Johny Secrets of the Bachchan family you know ...
4    jkytlp91onQ  filmwise of bollywood celebrities sutapa sikda...
..           ...                                                ...
674  4jZ-7xhLj-w                                       good evening
675  L2rPcFB-bKg  Pappu Kyon Nahin tumne mujhe bataya Tumhare Pa...
676  EPq2r8hUCBM  England ki Maharani ka darbar Mein Swagat hai ...
677  gPuxJYAuT_g  weather Sahab aap soch rahe Honge aap 154 Lagt...
678  DHJaC6tArpY                                      Tere Munh per

[679 rows x 2 columns]

In [8]:
source_data

,Title,video_id,LABEL,Topic
0,"Sad News For Dharmendra Fans, Dharmendra Death...",to8mQVw1Lso,Clickbait,Death
1,Dharmendra Death,rxTuq8gymc0,Clickbait,Death
2,Abhishek Bachchan and Shweta Bachchan in Koffe...,4N3hPrJLbEw,Clickbait,celebrity
3,How To Get 6 Pack Abs In One Day,CfvUr6WAEWM,Clickbait,Health
4,Dirty Secrets of the Bachchan Family,i1rlytoxQ1o,Clickbait,celebrity
...,...,...,...,...
987,Aishwarya accepts â€˜Khajurâ€™ as her son â€“ The Ka...,mu1LmpE_rjE,Real,NaN
988,Cold War Between Lottery And Sarla - The Kapil...,L2rPcFB-bKg,Real,NaN
989,England Queen's Wedding Shopping | Sargun Meht...,EPq2r8hUCBM,Real,NaN
990,Kapil Copies Dr. Gulati's Look - The Kapil Sha...,gPuxJYAuT_g,Real,NaN
991,Rajesh Arora Hates Rinku's Face - The Kapil Sh...,DHJaC6tArpY,Real,NaN

In [9]:
video_id = list()
title_audio_sim_1 = list()
title_audio_sim_2 = list()
title_audio_sim_3 = list()

i = 0
for ind, row in data.iterrows():
    s1 = row['Text'].lower()
    i = i + 1
    print(i)
        #text1 = translator.translate(s1,lang_tgt='en')
    text1 = s1
    ind_title = source_data[source_data['video_id']==row['Video_id']].index.values
    s2 = source_data['Title'][ind_title[0]]
    text2 = s2
        #text2 = translator.translate(s2,lang_tgt='en')
    val1 = func1(text1,text2)
    val2 = func2(text1,text2)
    val3 = func3(text1,text2)
    video_id.append(row['Video_id'])
    title_audio_sim_1.append(val1)
    title_audio_sim_2.append(val2)
    title_audio_sim_3.append(val3)
    
dict = {'Video ID' : video_id, 'Title vs Audio 1' : title_audio_sim_1, 'Title vs Audio 2' : title_audio_sim_2, 'Title vs Audio 3' : title_audio_sim_3}
newdf = pd.DataFrame(dict)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74

/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/opt/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553

/opt/anaconda3/lib/python3.7/site-packages/scipy/spatial/distance.py:720: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679

In [10]:
newdf.to_csv("audio_vs_title_mvd.csv")

In [11]:
newdf

        Video ID  Title vs Audio 1  Title vs Audio 2  Title vs Audio 3
0    to8mQVw1Lso             15.10             37.75             100.0
1    4N3hPrJLbEw             22.34             46.02             100.0
2    CfvUr6WAEWM             42.87             86.51             100.0
3    i1rlytoxQ1o             33.81             64.38             100.0
4    jkytlp91onQ             25.93             79.27             100.0
..           ...               ...               ...               ...
674  4jZ-7xhLj-w              0.00             20.54             100.0
675  L2rPcFB-bKg              0.00             -5.78             100.0
676  EPq2r8hUCBM              6.92             19.64             100.0
677  gPuxJYAuT_g              0.00              1.46             100.0
678  DHJaC6tArpY              0.00              2.81             100.0

[679 rows x 4 columns]

In [22]:
data1 = pd.read_csv('audio_vs_title_bollybait_1.csv')
data2 = pd.read_csv('audio_vs_title_bollybait_2.csv')

In [26]:
data = data1.append(data2)
data = data.drop(columns={'Unnamed: 0'})
data.reset_index(inplace = True, drop = True)
data

        Video ID  Title vs Audio 1  Title vs Audio 2  Title vs Audio 3
0    zR8x5FAvlPU              0.00              1.97            100.00
1    STL-ueSScRI             11.18             60.82             86.52
2    bJ-1QOOett0             16.12             44.79             89.34
3    qfr0NUD3FTU              8.13             29.83            100.00
4    D_TP0L-s4V0             36.51             56.19            100.00
..           ...               ...               ...               ...
883  tOWpOL4ZgSw              0.00             52.27            100.00
884  MBrAY6GgU5k              0.00             44.94            100.00
885  owPuQjInzO8              0.00             12.69            100.00
886  Es2bli0uSYY              7.40             47.90            100.00
887  FgHKdoYpGpI              6.90             54.64             91.09

[888 rows x 4 columns]

In [27]:
data.to_csv("audio_vs_title_bollybait.csv")